{% extends 'base.html' %}

{% block title %}{{ request.user }}{% endblock title %}

{% block content %}
<div class="container">
  <h3>Welcome back to your blog {{ request.user }}</h3>
  <br>
  <div class="col-md-4">
    <h3>Top 5 Posts Of All Time</h3>
    <br>
    {% for top_post in top_posts %}
    <ul>
      <li><a href="{% url 'post_detail' top_post.id %}">{{ top_post.title }}</a></li>
    </ul>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h3>All of your posts</h3>
    <br>
    {% for post in posts %}
      <h4><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h4>
        <p>{{ post.body }}</p>
    {% endfor %}
  </div>
  <div class="col-md-4">
    <h3>Your Top 5 Posts</h3>
    <br>
    {% for your_top_post in your_top_posts  %}
      <ul>
        <li><a href="{% url 'post_detail' your_top_post.id %}">{{ your_top_post.title }}</a></li>
      </ul>
    {% endfor %}
  </div>
</div>
{% endblock %}
